<html>
<head>
  <% include ./header.ejs %>

</head>
<!doctype html>
<script>

</script>
<body>
  <% include ./nav.ejs %>
  <div class="container col s12">
  <table>
    <tr>
      <th>수신회사</th>

      <th>수신품목</th>
      <th>관리번호</th>
      <th>월</th>
      <th>일</th>
      <th>금액</th>
      <th>세액</th>
      <th>총금액</th>
      <th>수신횟수</th>
      <th>계산서보기</th>
      <th colspan="2"></td>
    </tr>
    <% data.forEach( (item) => { %>
    <tr>

      <td><%=item.company%></td>

      <td><%=item.item_name%></td>
      <td><%=item.mgmt_id%></td>
      
      <td><%=item.month%></td>
      <td><%=item.day%></td>
      <td><%=item.price%></td>
      <td><%=item.tax%></td>
      <td><%=item.total_price%></td>
      <td><%=item.mail_count%></td>
      <td>
        <% if( item.invoice_filename && item.invoice_filename !== "") {%>
         <a class="Popup" href="/pdf/<%=item.invoice_filename.split('\\').pop()%>"  target="_blank"><i class="material-icons">picture_as_pdf</i></a>
        <% } %>
       </td>
       <td>
         <a class="delete" href="/tax_invoices/delete/<%=item.id%>"  data-method="delete"  rel="nofollow"><i class="material-icons">delete</i></a>
       </td>
    </tr>
    <% }) %>
  </table>
</div>
</body>
</html>
