<html>
<head>
  <% include ./header.ejs %>

</head>
<!doctype html>
<style>
#li_fee,#li_maintenance {
  font-size: 150%;

}
</style>
<body>
  <% include ./nav.ejs %>
  <div class="container">
    <div class="row">
      <h4>품의등록</h4>
      <p>유지보수,정보이용료 품의를 등록<p>
    </div>
    <div class="row">
      <div class="col s5 l2 right">
        <a class="btn" href="/items/new">신규등록</a>
      </div>
      <div class="col s5 l2 right">
        <a class="btn right" href="#" id="save_order">출력번호저장</a>
      </div>
    </div>
    <div class="row">
     <div class="col s12">
       <ul class="tabs">
         <li class="tab col s3"><a id="li_maintenance"  href="#maintenance">유지보수</a></li>
         <li class="tab col s3"><a id="li_fee" href="#fee">정보이용료</a></li>
       </ul>
     </div>

     <div id="maintenance" class="col s12">
       <table id="maintenance_table">
         <thead>
           <th>ID</th>
           <th>업체명</th>
           <th>품의명</th>
           <th>결의번호</th>
           <th>코드번호</th>
           <th>출력순서</th>
           <th>발행기관</th>
           <th>금액</th>
           <th>품의서보기/등록</th>
           <th>수정</td>
           <th>삭제</td>
         </thead>
         <tbody>
         <% for(var i = 0, len = maintenance.length; i < len; i++) { item = maintenance[i]; %>
         <tr <% if(i%2 === 0) { %> class="striped" <% } %> >
           <td class="maintenance_id"><%=item.item_id%></td>
           <td><%=item.company_name%></td>
           <td><%=item.item_name%></td>
           <td><%=item.payment_id%></td>
           <td><%=item.code%></td>
           <td><%=item.print_number%></td>
           <% if(item.issuer_id) { %>
             <td><%=item.issuer_name%></td>
           <% }else{%>
             <td></td>
           <% } %>
           <td><%=item.total_price%></td>
           <td><% if(item.report_filename) {%>
                <a class="waves-effect waves-light " href=/items/<%=item.report_filename%>><i class="material-icons" target="_blank">picture_as_pdf</i></a>
            <% } else {%>
              <a class="waves-effect waves-light  modal-trigger" href="#file_modal_<%=item.item_id%>"><i class="material-icons">file_upload</i></a>
              <div id="file_modal_<%=item.item_id%>" class="modal">
                <div class="modal-content">
                  <form action="/apis/fileupload?type=company&id=<%=item.item_id%>" enctype="multipart/form-data" method="post">
                    <div class = "row">
                       <label>품의서첨부</label>
                       <div class = "file-field input-field">
                          <div class = "btn">
                             <span>검색</span>
                             <input name="userfile" type = "file" />
                          </div>

                          <div class = "file-path-wrapper">
                             <input class = "file-path validate" type = "text"
                                placeholder = "Upload file"/>
                          </div>
                       </div>
                    </div>
                  </div>
                <div class="modal-footer">
                  <input type="submit"  class="btn" value="등록">
                </div>
                </form>
              </div>
            <% } %>
           </td>
           <td>
             <a href="/item/<%=item.item_id%>" ><i class="material-icons">edit</i></a>
           </td>
           <td>
              <a class="delete" href="/items/delete/<%=item.item_id%>"  data-method="delete" onclick="return confirm('정말지우시겠습니까?');" rel="nofollow"><i class="material-icons">delete</a>
           </td>
         </tr>
         <% } %>
       </table>
     </div>
         <div id="fee" class="col s12">
           <table id="fee_table">
             <thead>
               <th>ID</th>
               <th>업체명</th>
               <th>품의명</th>
               <th>결의번호</th>
               <th>코드번호</th>
               <th>출력순서</th>
               <th>발행기관</th>
               <th>금액</th>
               <th>품의서보기/등록</th>
               <th>수정</td>
               <th>삭제</td>
             </thead>
             <tbody>
             <% for(var i = 0, len = fee.length; i < len; i++) { item = fee[i]; %>
             <tr <% if(i%2 === 0) { %> class="striped" <% } %> >
               <td class="fee_id"><%=item.item_id%></td>
               <td><%=item.company_name%></td>
               <td><%=item.item_name%></td>
               <td><%=item.payment_id%></td>
               <td><%=item.code%></td>
               <td><%=item.print_number%></td>
               <% if(item.issuer_id) { %>
                 <td><%=item.issuer_name%></td>
               <% }else{%>
                 <td></td>
               <% } %>

               <td><%=item.total_price%></td>
               <td><% if(item.report_filename) {%>
                    <a class="waves-effect waves-light " href=/items/<%=item.report_filename%>><i class="material-icons" target="_blank">picture_as_pdf</i></a>
                <% } else {%>
                  <a class="waves-effect waves-light  modal-trigger" href="#file_modal_<%=item.item_id%>"><i class="material-icons">file_upload</i></a>
                  <div id="file_modal_<%=item.item_id%>" class="modal">
                    <div class="modal-content">
                      <form action="/apis/fileupload?type=company&id=<%=item.item_id%>" enctype="multipart/form-data" method="post">
                        <div class = "row">
                           <label>품의서첨부</label>
                           <div class = "file-field input-field">
                              <div class = "btn">
                                 <span>검색</span>
                                 <input name="userfile" type = "file" />
                              </div>

                              <div class = "file-path-wrapper">
                                 <input class = "file-path validate" type = "text"
                                    placeholder = "Upload file"/>
                              </div>
                           </div>
                        </div>
                      </div>
                    <div class="modal-footer">
                      <input type="submit"  class="btn" value="등록">
                    </div>
                    </form>
                  </div>
                <% } %>
               </td>
               <td>
                 <a href="/item/<%=item.item_id%>" ><i class="material-icons">edit</i></a>
               </td>
                <td>
                  <a class="delete" href="/items/delete/<%=item.item_id%>"  data-method="delete" onclick="return confirm('정말지우시겠습니까?');"  rel="nofollow"><i class="material-icons">delete</a>
                </td>
             </tr>
             <% } %>
       </table>
     </div>

   </div>

</div>
  <% include ./footer.ejs %>
  <script>

    $(() => {
      function getSearchParams(k){
       var p={};
       location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
       return k?p[k]:p;
      }
      $('.tabs').tabs();

      let invoice_type = getSearchParams['invoice_type']
      console.log(invoice_type)
      if(invoice_type){
        $(invoice_type).addClass("active")
      }else{
        $('li_maintenance').addClass("active")
      }
      $('tbody').sortable();
      $('tbody').disableSelection();
      $("#save_order").click((e) => {
        e.preventDefault();
        let orders = {}
        orders["maintenance"] = [];
        orders["fee"] = [];
        $('.maintenance_id').each((idx, value) => {
          orders["maintenance"].push($(value).text())
        })
        $('.fee_id').each((idx, value) => {
          orders["fee"].push($(value).text())
        })
        let active_id = $(".active").attr("id")
        console.log(orders)

        $.ajax({
          type:'post',
          url: "/apis/update_company_orders",
          data: orders,
          success: function(data){
             console.log("success")

             var url = new URL(location.href);
            url.searchParams.set('invoce_type',active_id);
            location.href = url.href;
            console.log(location)
             // location.reload();

          }
        })
      })
      $('.modal').modal();


    })


  </script>
</body>
</html>
