<html>
<head>
  <% include ./header.ejs %>
</head>
<body>
  <% include ./nav.ejs %>
  <div class="container">
    <h4>업체 품의 수정</h4>
    <form action="/item/<%=item.id%>"  enctype="multipart/form-data" method="post" >

      <div class="row">

        <div class="col s12 l3">
          <label>세금계산서처리타입</label>
          <div class="input-field">
            <select id="select_invoice_type" required>
              <% if (item.invoice_type === "maintenance") { %>
                <option value="maintenance"selected >유지보수</option>
                <option value="fee" >정보이용료</option>
              </select>
              <input type="hidden" name="invoice_type" id="invoice_type" value="maintenance" >
              <% } else { %>
                <option value="maintenance">유지보수</option>
                <option value="fee" selected  >정보이용료</option>
              </select>
              <input type="hidden" name="invoice_type" id="invoice_type"  value="fee">
              <% } %>
          </div>
        </div>
        <div class="col s12 l3">
          <label>업체이름</label>
          <div class="input-field">
            <select id="select_company" required>
              <option value=''>Choose your option</option>
              <% for (var i =0;i<companies.length; i++){ %>
              <%  if(item.company_id === companies[i].id){ %>
                    <option value="<%=companies[i].id%>" selected><%=companies[i].company_name%></option>
                <% }else{ %>
                  <option value="<%=companies[i].id%>"><%=companies[i].company_name%></option>
                <% } %>
              <% } %>
            </select>
            <input type="hidden" name="company_id" id="company_id" >
          </div>

      </div>
      <div class="col s12 l6">
        <label>계산서발송SITE</label>
        <div class="input-field">
          <select id="select_issuer"  required>
            <option value='' disabled >Choose your option</option>
            <% for (var i =0;i<issuers.length; i++){ %>
              <% if(item.issuer_id === issuers[i].id){ %>
                  <option value="<%=issuers[i].id%>" selected><%=issuers[i].issuer_name%></option>
              <% }else{ %>
                <option value="<%=issuers[i].id%>"><%=issuers[i].issuer_name%></option>
              <% } %>
            <% } %>
          </select>
          <input type="hidden" name="issuer_id" id="issuer_id" >
        </div>
      </div>

      <div class="row">

        </div>
        <div class="col s12 l6">
          <label>품의명</label>
          <input type="text" name="item_name" placeholder="품의명" value="<%=item.item_name%>" required>
        </div>
        <div class="col s12 l6">
          <label>결의번호</label>
          <input type="text" value="<%=item.payment_id%>" disabled >
        </div>
        <div class="col s12 l3">
          <label>코드번호</label>
          <input type="text" name="code" placeholder="코드번호"  value="<%=item.code%>">
        </div>
        <div class="col s12 l3">
          <label>출력순서</label>
          <input type="text" name="print_number" placeholder="출력순서"  value="<%=item.print_number%>">
        </div>
        <div class="col s12 l6">
          <label>발송내역문구</label>
          <input type="text" name="best_match" placeholder="품의내용 발송 문구" value="<%=item.best_match%>" >
        </div>
      </div>
      <div class="row">
        <div class="col s12 l6">
          <label>결의번호변경</label>
          <div class="input-field">
            <select id="select_payment_id">
              <option value='' disabled selected>Choose your option</option>
              <% for (var i =0;i<payments.length; i++){ %>
                  <option value="<%=payments[i].id%>"><%=payments[i].id+":"+payments[i].payment_name%></option>
              <% } %>
            </select>
              <input type="hidden" name="payment_id" id="payment_id" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l3">
          <label>총금액(부가세포함)</label>
          <div class="input-field">
            <input type="text" name="total_price" placeholder="금액" value="<%=item.total_price%>"  required>
          </div>
        </div>
        <div class="col s12 l9">
          <label>품의서첨부</label>
          <div class = "file-field input-field">
            <div class = "btn">
            <span>검색</span>
            <input name="userfile" type = "file"  value="<%=item.report_filename%>" />
            </div>

            <div class = "file-path-wrapper">
            <input class = "file-path validate" type = "text"
             placeholder = "Upload file" value="<%=item.report_filename%>"/>
            </div>
          </div>
        </div>
      </div>

      <div class = "row">
        <div class="col s12 l12">
            <input class="btn right" type="submit"  value="수정">
        </div>
      </div>
    </form>
  </div>

  <% include ./footer.ejs %>
  <script>
    $(document).ready(function(){
      $('select').formSelect();
      $('#issuer_id').val($("#select_issuer option:selected").val());
      $('#company_id').val($("#select_company option:selected").val());
      $('#invoice_type').val($("#select_invoice_type option:selected").val());

      $("#select_issuer").change( function() {
          $('#issuer_id').val($("#select_issuer option:selected").val());
      })
      $("#select_company").change( function() {
          $('#company_id').val($("#select_company option:selected").val());
      })
      $("#select_invoice_type").change( function() {
          $('#invoice_type').val($("#select_invoice_type option:selected").val());
      })
      $("#select_payment_id").change( function() {
          $('#payment_id').val($("#select_payment_id option:selected").val());
      })
    });
  </script>
</body>
</html>
