<html>
<head>
  <% include ./header.ejs %>

</head>
<script>

</script>
<body>
  <% include ./nav.ejs %>


  <div class="container col s12">
    <div class="row">
      <form action="/maintain_reports" method="get">
        <div class="input-field col s12 l2">
          <label>
            <% if(typeof is_archive !== 'undefined' && is_archive){ %>
              <input type="checkbox" name="is_archive" checked="checked" />
            <% } else { %>
              <input type="checkbox" name="is_archive" />
            <% } %>
            <span class="blue-text text-darken-2">확정포함검색</span>
          </label>
        </div>
        <div class="input-field col s8 l4">
          <input type="text" name="search" >
          <label>검색</label>
        </div>
        <div class="input-field col s4 l2">
          <input class="btn" type="submit" value="제출">
        </div>

      </form>
    </div>

      <table>
        <tr>
          <th>회사명</th>
          <th>품목</th>
          <th>발신자</th>
          <th>제목</th>
          <th>년</th>
          <th>월</th>
          <th>수신일</th>
          <th>보고서보기</th>
          <th colspan="2"></td>
        </tr>
        <% data.forEach( (report) => { %>
        <tr>
          <td><%=report.company_name%></td>
          <td><a  href="/maintain_report/<%=report.id%>"><%=report.item_name%></a></td>
          <td><a  href="/maintain_report/<%=report.id%>"><%=report.sender%></a></td>
          <td><a  href="/maintain_report/<%=report.id%>"><%=report.subject%></a></td>
          <td><%=report.year%></td>
          <td><%=report.month%></td>
          <td><%=report.received_at%></td>

          <td>
            <% if( report.filepath && report.filepath !== "") {%>
             <a class="Popup" href="/maintain_reports/<%=report.filepath.split('\\').pop()%>"  target="_blank"><i class="material-icons">picture_as_pdf</i></a>
            <% } %>
           </td>
           <td>
             <a  href="/maintain_report/<%=report.id%>"><i class="material-icons">edit</i></a>
           </td>
           <td>
             <a class="delete" href="/maintain_reports/delete/<%=report.id%>"  data-method="delete"  rel="nofollow"  onclick="return confirm('정말지우시겠습니까?');"><i class="material-icons">delete</i></a>
           </td>
        </tr>
        <% }) %>
      </table>

</div>
<% include ./footer.ejs %>
<script>
  $(document).ready(function(){
     $('select').formSelect();

   });
</script>
</body>
</html>
