<html>
<head>
  <% include ./header.ejs %>
</head>
<body>
  <% include ./nav.ejs %>
  <div class="container">
    <h4>유지보고확인서편집</h4>
    <div class="row">
    <div class="col s12 l6">
      <form action="/maintain_report/<%=data.id%>?_method=PUT"  method="post" >

        <div class="row">
          <div class="input-field col s12 ">
            <label>발송자</label>
            <input type="text"  placeholder="발송자"  value="<%=data.sender%>" required disabled>
          </div>
          <div class="input-field col s12 ">
            <label>메일제목</label>
            <input type="text"  placeholder="메일제목" value="<%=data.subject%>" required disabled>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s4 l2">
            <select name="bill_year">
              <% for(var i =2018 ;i<2025;i++) { %>
                <% if(data.year && parseInt(data.year) === i) { %>
                  <option value="<%=i%>" selected><%=i%>년</option>
                <% } else { %>
                  <option value="<%=i%>"><%=i%>년</option>
                <% } %>
              <% } %>
            </select>
            <label>년</label>
          </div>
          <div class="input-field col s4 l2">
            <select name="bill_month">
              <% for(var i =1 ;i<13;i++) { %>
                <% if(data.month  && parseInt(data.month) === i) { %>
                  <option value="<%=i%>" selected><%=i%>월</option>
                <% } else { %>
                  <option value="<%=i%>"><%=i%>월</option>
                <% } %>
              <% } %>
            </select>
            <label>월</label>
          </div>

          <div class="input-field col s12 l8">
            <label>수신일</label>
            <input type="text" placeholder="수신일" value="<%=data.received_at%>" disabled>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s12 ">
            <label>파일경로</label>
            <input type="text"  placeholder="파일경로" value="<%=data.filepath%>" disabled>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s12 ">
            <label >매칭된 품의</label>
            <% if(maintain_report_company) { %>
              <input type="text" disabled value='<%=maintain_report_company.invoice_type + " " +maintain_report_company.company_name +" "+ maintain_report_company.item_name%>'>
            <% } else { %>
              <input type="text" disabled value='없음'>
            <% }%>

          </div>

        </div>
        <div class="row">
          <label><h4>품의변경</h4></label>
          <div class="input-field col s12 l6">
              <select id="input-2">
                <% for(var i =0 ;i<companies.length;i++) { %>
                    <option value="<%=i%>"><%=companies[i].company_name%></option>
                  <% } %>
                <option value="" disabled selected>Choose your option</option>
              </select>
              <label>회사선택</label>
              <input type="hidden" name="company_name" id="company_name" >
          </div>
          <div class="input-field col s12 l6">
              <select id="input-3">
                <option value="" disabled selected>Choose your option</option>
              </select>
              <label>품의선택</label>
              <input type="hidden" name="item_name" id="item_name" >
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6 l6">
            <label>
              <% if(data.confirmed){ %>
                <input type="checkbox" name="confirmed" checked="checked" />
              <% } else { %>
                <input type="checkbox" name="confirmed" />
              <% } %>
              <span class="blue-text text-darken-2">확정</span>
            </label>
          </div>
          <div class="input-field col s6 l2">
            <input id="submit" class="right btn" type="submit"  value="수정">
          </div>
          <div class="input-field col s6 l2">
            <a class="btn right" href="/maintain_reports/delete/<%=data.id%>"  data-method="delete"  rel="nofollow" onclick="return confirm('정말지우시겠습니까?');">삭제</a>
          </div>
          <div class="input-field col s6 l2">
            <a class="btn right" href="/maintain_reports/back">목록</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col s12 l6">
      <% if(data.filepath.split('.').pop().toLowerCase()=== "pdf") { %>
          <embed src="/maintain_reports/<%=data.filepath.split('\\').pop()%>" type="application/pdf" width="100%" height="600px" view="Fit" />
      <% } else { %>
        <img src="/maintain_reports/<%=data.filepath.split('\\').pop()%>" width="100%" />
      <% } %>

    </div>
  </div>

  <% include ./footer.ejs %>
  <script>
    $(document).ready(function(){
      $('select').formSelect();

      $("#input-2").change( function() {
        console.log("test")
        var str2 = ""
        $('#company_name').val($("#input-2 option:selected").text());
          console.log($('#company_name').val())
        $("#input-2 option:selected").each(function(){
          str2 += $(this).text();
        });
        $.ajax({
          type:'GET',
          url: "/apis/company_names?invoice_type=maintenance&company_name="+str2,
          data: null,
          success: function(data){

            $("#input-3").empty();
            $("#input-3").append("<option value='' disabled selected>Choose your option</option>")
            $.each(data, function(idx,item){

              $("#input-3").append($('<option>', { value: idx, text: item["item_name"]}));
            })

            $("#input-3").formSelect();
          }
        })

      })
      $("#input-3").change( function() {
          $('#item_name').val($("#input-3 option:selected").text());

      })
    });
  </script>
</body>
</html>
