<html>
<head>
  <% include ./header.ejs %>
</head>
<body>
  <% include ./nav.ejs %>
  <div class="container col s12">
    <div class="row">
      <form action="/monthly_reports" method="get">
        <div class="input-field col s4 l2">
          <select name="invoice_type">
            <% if(typeof invoice_type !== "undefined" && invoice_type === "maintenance") {
              %>
              <option value="maintenance" selected>유지보수</option>
              <option value="fee">정보이용료</option>
            <% } else { invoice_type = "fee" %>
              <option value="maintenance" >유지보수</option>
              <option value="fee" selected>정보이용료</option>
            <% } %>
          </select>
          <label>구분</label>
        </div>
        <div class="input-field col s4 l2">
          <select name="year">
            <% for(var i =2018 ;i<2025;i++) { %>
              <% if(typeof year !== "undefined" && parseInt(year) === i) { %>
                <option value="<%=i%>" selected><%=i%>월</option>
              <% } else { %>
                <option value="<%=i%>"><%=i%>월</option>
              <% } %>
            <% } %>
          </select>
          <label>년</label>
        </div>
        <div class="input-field col s4 l2">
          <select name="month">
            <% for(var i =1 ;i<13;i++) { %>
              <% if(typeof month !== "undefined" && parseInt(month) === i) { %>
                <option value="<%=i%>" selected><%=i%>년</option>
              <% } else { %>
                <option value="<%=i%>"><%=i%>월</option>
              <% } %>
            <% } %>
          </select>
          <label>월</label>
        </div>
        <div class="input-field col s2 l2">
          <input class="btn left" type="submit" value="제출">
          <a class="btn right" href="/monthly_reports/export?invoice_type=<%=invoice_type%>&month=<%=month%>&year=<%=year%>">Export</a>
        </div>
        <div class="input-field col s2 l2">

        </div>
      </form>

    </div>
    <table class="col s12">
      <thead>
        <th>C</th>
        <th>ID</td>
        <th>회사명</th>
        <th>사업자번호</th>
        <th>품목</th>
        <th>결의코드</th>
        <th>결의주기</th>
        <th>결의일</th>
        <th>결의번호</th>
        <th>품의총금액</th>
        <th>금액</th>
        <th>세금</th>
        <th>총금액</th>
        <th>차액</th>
        <th>증빙일</th>
        <th>세금계산서</th>
        <% if(invoice_type === "maintenance") { %>
          <th>유지보수확인서</th>
        <% } %>

      </thead>
      <tbody>
        <% console.log(items) %>
      <% for(var i = 0; i <  items.length; i++) { item = items[i];  console.log(item.invoice_type); %>
        <% if(item.invoice_type === invoice_type){ rows = Math.max(item.invoices.length, item.maintain_reports.length, 1) %>
          <tr id="item_id_<%=item.item_id%>" <% if(i%2 === 0) { %> class="striped" <% } %> >
          <td rowspan="<%=rows%>"> <form><label><input type="checkbox" class="item_check" value="<%=item.id%>" ><span></span></label></form></td>
          <td rowspan="<%=rows%>"><%=item.item_id%></td>
          <td rowspan="<%=rows%>"><%=item.company_name%></td>
          <td rowspan="<%=rows%>"><%=item.company_number%></td>
          <td rowspan="<%=rows%>"><%=item.item_name%></td>
          <td rowspan="<%=rows%>"><%=item.code%></td>
          <td rowspan="<%=rows%>"><%=item.billing_cycle%></td>
          <% if(item.resolutions.length > 0) { %>
            <td rowspan="<%=rows%>"><%=`${item.resolutions[0].month}월 ${item.resolutions[0].date}일`%></td>
            <td rowspan="<%=rows%>"><%=item.resolutions[0].number%></td>
          <% } else { %>
            <td rowspan="<%=rows%>" colspan="2"></td>
          <% } %>

          <td rowspan="<%=rows%>"><%=Number(item.total_price).toLocaleString()%></td>

          <% if (item.invoices.length>0) { %>
            <td><%=Number(item.invoices[0].price).toLocaleString()%></td>
            <td><%=Number(item.invoices[0].tax).toLocaleString()%></td>
            <td><%=Number(item.invoices[0].total_price).toLocaleString()%></td>
            <td><%=Number(item.total_price - item.invoices[0].total_price).toLocaleString()%></td>
            <td><%=item.invoices[0].evidence_date%></td>
            <td><a class="Popup" href="/tax_invoice/<%=item.invoices[0].id%>?from=monthly_reports"><i class="material-icons">picture_as_pdf</i></a>id:<%=item.invoices[0].id%></td>
          <%} else { %>
            <td colspan="5"></td>
            <td>
              <a href="/tax_invoices/new?item_id=<%=item.item_id%>&invoice_type=<%=invoice_type%>&company_name=<%=item.company_name%>&item_name=<%=item.item_name%>&total_price=<%=item.total_price%>&bill_year=<%=year%>&bill_month=<%=month%>"><i class="material-icons">add</i></a>
            </td>

          <%}%>

          <% if(invoice_type === "maintenance") { %>
            <% if (item.maintain_reports.length>0) { %>
              <td><a class="Popup" href="/maintain_report/<%=item.maintain_reports[0].id%>?from=monthly_reports"><i class="material-icons">picture_as_pdf</i></a>id:<%=item.maintain_reports[0].id%></td>
            <%} else { %>
                <td>
                  <a href="/maintain_reports/new?item_id=<%=item.item_id%>&company_name=<%=item.company_name%>&item_name=<%=item.item_name%>&bill_year=<%=year%>&bill_month=<%=month%>"><i class="material-icons">add</i></a>
                </td>
            <%}%>
          <% } %></tr>
          <% for(var j = 1; j<rows; j++){ %>
            <tr>
            <% if(item.invoices.length > j){ %>
              <td><%=item.invoices[j].total_price%></td>
              <td><%=Number(item.invoices[0].price).toLocaleString()%></td>
              <td><%=Number(item.invoices[0].tax).toLocaleString()%></td>
              <td><%=item.total_price - item.invoices[j].total_price%></td>
              <td><%=item.invoices[j].evidence_date%></td>
              <td><a class="Popup" href="/tax_invoice/<%=item.invoices[j].id%>?from=monthly_reports"><i class="material-icons">picture_as_pdf</i></a>id:<%=item.invoices[j].id%></td>
            <%} else { %>
              <td colspan="6" ></td>
            <% }%>
            <% if(item.maintain_reports.length > j){ %>
              <td><a class="Popup" href="/maintain_report/<%=item.maintain_reports[j].id%>?from=monthly_reports"><i class="material-icons">picture_as_pdf</i></a>id:<%=item.maintain_reports[j].id%></td>
            <%} else { %>
              <td></td>
            <% }%>

          </tr>

          <% } %>

      <% } }%>
      </tbody>
    </table>
  </div>

  <% include ./footer.ejs %>
  <script>
    $(document).ready(function(){
       $('select').formSelect();
     });
  </script>
</body>
</html>
