<html>
<head>
  <% include ./header.ejs %>


</head>
<body>
  <% include ./nav.ejs %>
  <div class="container">
    <h3> 세금계산서 등록</h3>
    <div class="row">
    <div class="col s12 l6">
      <form action="/tax_invoices"  enctype="multipart/form-data" method="post">
        <div class="row">
          <div class="input-field col s12 l5">
            <label for="company_name">업체명</label><input type="text" name="company_name" placeholder="업체명"   value="<%=data.company_name%>"required>
            <input type="hidden" name="tax_invoice_company_id" placeholder="업체명"   value="<%=data.item_id%>"required>
            <input type="hidden" name="invoice_type" placeholder="업체명"   value="<%=data.invoice_type%>"required>
          </div>
          <div class="input-field col s12 l7">
            <label for="company_number">사업자번호</label><input type="text" name="company_number" placeholder="품목"  value="<%=data.company_number%>" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l10">
            <label for="company_name">품의명</label><input type="text" name="item_name" placeholder="품목"  value="<%=data.item_name%>" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l3">
            <label>확정년</label><input type="text" name="bill_year" placeholder="세금계산서 확정년도를 입력"  value="<%=data.bill_year%>"required>
          </div>
          <div class="input-field col s12 l3">
            <label>확정월</label><input type="text" name="bill_month" placeholder="세금계산서 확정월을 입력"  value="<%=data.bill_month%>"required>
          </div>
          <div class="input-field col s12 l3">
            <label for="company_name">발행월</label><input type="text" name="month" placeholder="월"   value="<%=data.month%>" required>
          </div>
          <div class="input-field col s12 l3">
            <label for="company_name">발행일</label><input type="text" name="day" placeholder="일"    value="<%=data.day%>"required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l4">
            <label for="company_name">금액</label><input type="text" name="price" placeholder="가격"  value="<%=data.price%>" required>
          </div>
          <div class="input-field col s12 l4">
            <label for="company_name">세금</label><input type="text" name="tax" placeholder="세금"  value="<%=data.tax%>" required>
          </div>
          <div class="input-field col s12 l4">
            <label for="company_name">총합계</label><input type="text" name="total_price" placeholder="총금액"    value="<%=data.total_price%>"required>
          </div>
        </div>
        <div class="row">

          <div class="col s12 l9">
            <label>계산서첨부</label>
            <div class = "file-field input-field">
              <div class = "btn">
              <span>검색</span>
              <input name="userfile" type = "file"  />
              </div>

              <div class = "file-path-wrapper">
              <input class = "file-path validate" type = "text" placeholder = "Upload file" />
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6 l3">
            <label>
              <% if(data.confirmed){ %>
                <input type="checkbox" name="confirmed" checked="checked" />
              <% } else { %>
                <input type="checkbox" name="confirmed" />
              <% } %>
              <span class="blue-text text-darken-2">확정</span>
            </label>
          </div>
          <div class="input-field col s6 l2">
            <input id="submit" class="right btn" type="submit"  value="수정">
          </div>
          <div class="input-field col s6 l2">
            <a class="btn right" href="#" onclick="javascript:history.go(-1)">취소</a>
          </div>
        </div>
      </form>
    </div>

</div>

<% include ./footer.ejs %>

</body>
<script>

    // $("#input-1").
</script>
</html>
