<html>
<head>
  <% include ./header.ejs %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
</head>
<!doctype html>

<body>

  <% include ./nav.ejs %>

  <div class="container">

    <div class="row">
      <div class="col">
        <h4 class="card-title">결의</h4>
        <p>결의를 진행하기 위한 정보를 입력하는 곳</p>
      </div>

    </div>
    <div class="row">
      <div class="container col s12 l9">

        <form action="/payments" method="get">
          <div class="input-field col s8 l4">
            <input type="text" name="search" >
            <label>검색</label>
          </div>
          <div class="input-field col s4 l2">
            <input class="btn" type="submit" value="제출">
          </div>

        </form>
      </div>
      <div class="col right">
        <a class="btn float" href="/payment/new">신규등록</a>
      </div>
    </div>


    <table class="example">
      <thead>
        <th>ID</th>
        <th>결의명</th>
        <th>결의코드</th>
        <th>결의주기</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
      <% for(var i = 0, len = payments.length; i < len; i++) {  %>
      <tr <% if(i%2 === 0) { %> class="striped" <% } %> >
        <td><%=payments[i].id%></td>
        <td class="issuer_name"><%=payments[i].payment_name%></td>
        <td><%=payments[i].payment_code%></td>
        <td><%=payments[i].payment_cycle%></td>
         <td>
           <a  href="/payment/<%=payments[i].id%>"><i class="material-icons">edit</i></a>
         </td>
         <td>
           <a class="delete" href="/payment/delete/<%=payments[i].id%>"  data-method="delete"  onclick="return confirm('정말지우시겠습니까?');"    rel="nofollow"><i class="material-icons">delete</i></a>
         </td>
      </tr>
      <% } %>
    </tbody>
    </table>
  </div>


  <% include ./footer.ejs %>
</body>
</html>
