<html>
<head>
  <% include ./header.ejs %>
</head>
<body>
  <% include ./nav.ejs %>
  <div class="container col s12">
    <div class="row">
      <form action="/monthly_reports" method="get">
        <div class="input-field col s4 l2">
          <select name="invoice_type">
            <% if(typeof invoice_type !== "undefined" && invoice_type === "maintenance") { %>
              <option value="<%=invoice_type%>" selected>유지보수</option>
              <option value="<%=invoice_type%>">정보이용료</option>
            <% } else { %>
              <option value="<%=invoice_type%>" >유지보수</option>
              <option value="<%=invoice_type%>" selected>정보이용료</option>
            <% } %>
          </select>
          <label>구분</label>
        </div>
        <div class="input-field col s4 l2">
          <select name="year">
            <% for(var i =2018 ;i<2025;i++) { %>
              <% if(typeof year !== "undefined" && parseInt(year) === i) { %>
                <option value="<%=i%>" selected><%=i%>월</option>
              <% } else { %>
                <option value="<%=i%>"><%=i%>월</option>
              <% } %>
            <% } %>
          </select>
          <label>년</label>
        </div>
        <div class="input-field col s4 l2">
          <select name="month">
            <% for(var i =1 ;i<13;i++) { %>
              <% if(typeof month !== "undefined" && parseInt(month) === i) { %>
                <option value="<%=i%>" selected><%=i%>월</option>
              <% } else { %>
                <option value="<%=i%>"><%=i%>월</option>
              <% } %>
            <% } %>
          </select>
          <label>월</label>
        </div>
        <div class="input-field col s2 l2">
          <input class="btn" type="submit" value="제출">
        </div>

      </form>
    </div>
    <table class="col s12">
      <thead>
        <th>출력번호</th>
        <th>발행처</th>
        <th>회사명</th>
        <th>품목</th>
        <th>총금액</th>
        <th>수신회사</th>
        <th>수신품목</th>
        <th>금액</th>
        <th>세액</th>
        <th>총금액</th>
        <th>차액</th>
        <th>pdf</th>
        <th colspan=2></th>
      </thead>
      <tbody>
      <% for(var i = 0, len = data.length; i < len; i++) { item = data[i]; %>
        <tr <% if(i%2 === 0) { %> class="striped" <% } %> >

          <td><%=item.print_number%></td>
          <td><%=item.sent_by%></td>
          <td><%=item.company_name%></td>
          <td><%=item.item_name%></td>
          <td><%=item.total_price%></td>
          <td><%=item.invoice_company_name%></td>
          <td><%=item.invoice_item_name%></td>

          <td><%=item.invoice_price%></td>
          <td><%=item.invoice_tax%></td>
          <td><%=item.invoice_total_price%></td>
          <td><%=item.diff_price%></td>
          <td>
            <% if( item.filepath && item.filepath !== "") {%>
             <a class="Popup" href="/invoices/<%=item.filepath.split('\\').pop()%>"  target="_blank"><i class="material-icons">picture_as_pdf</i></a>
            <% } %>

           </td>
           <td>
             <a  href="/tax_invoice/<%=item.invoice_id%>"><i class="material-icons">edit</i></a>
           </td>
           <td>
             <a class="delete" href="/tax_invoices/delete/<%=item.invoice_id%>"  data-method="delete"  onclick="return confirm('정말지우시겠습니까?');"  rel="nofollow"><i class="material-icons">delete</i></a>
           </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>

  <% include ./footer.ejs %>

</body>
</html>
