<html>
<head>
  <% include ./header.ejs %>


</head>
<body>
  <% include ./nav.ejs %>
  <div class="container">
    <h3> 세금계산서 연결 수정</h3>
    <div class="row">
    <div class="col s12 l6">
      <form action="/tax_invoice/<%=data.id%>?_method=PUT"  method="post">
        <div class="row">
          <div class="input-field col s12 l5">
            <label for="company_name">업체명</label><input type="text" name="company_name" placeholder="업체명"  disabled value="<%=data.company%>"required>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s12 l10">
            <label for="company_name">품의명</label><input type="text" name="item_name" placeholder="품목"  disabled value="<%=data.item_name%>" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4 l2">
            <select class="month_year" name="bill_year">
              <% for(var i =2018 ;i<2025;i++) { %>
                <% if(data.bill_year && parseInt(data.bill_year) === i) { %>
                  <option value="<%=i%>" selected><%=i%>년</option>
                <% } else { %>
                  <option value="<%=i%>"><%=i%>년</option>
                <% } %>
              <% } %>
            </select>
            <label>년</label>
          </div>
          <div class="input-field col s4 l2">
            <select class="month_year"  name="bill_month">
              <% for(var i =1; i<13 ; i++) { %>
                <% if(data.bill_month  && parseInt(data.bill_month) === i) { %>
                  <option value="<%=i%>" selected><%=i%>월</option>
                <% } else { %>
                  <option value="<%=i%>"><%=i%>월</option>
                <% } %>
              <% } %>
            </select>
            <label>월</label>
          </div>
          <div class="input-field col s12 l4">
            <label for="company_name">증빙일</label><input type="text" name="evidence_date" placeholder="증빙일"    value="<%=data.evidence_date%>"required>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s12 l5">
            <label for="company_name">금액</label><input type="text" name="price" placeholder="가격"  value="<%=data.price%>" required>
          </div>
          <div class="input-field col s12 l4">
            <label for="company_name">세금</label><input type="text" name="tax" placeholder="세금"  value="<%=data.tax%>" required>
          </div>
          <div class="input-field col s12 l3">
            <label for="company_name">총합계</label><input type="text" name="total_price" placeholder="총금액"    value="<%=data.total_price%>"required>
          </div>
        </div>
        <div class="row">
          <% if(tax_invoice_company) { %>
              <div class="input-field col s12 l9">
                <label >매칭된 품의</label>
                <input type="text" disabled value='<%=tax_invoice_company.invoice_type + " " +tax_invoice_company.company_name +" "+ tax_invoice_company.item_name%>'>
              </div>
              <div class="input-field col s12 l3">
                <label>합계</label>
                <input type="text" disabled value='<%=tax_invoice_company.total_price%>'>
              </div>
          <% } %>
        </div>
        <div class="row">
          <div class="input-field col s4">
              <select name="input-1" id="input-1">
                <option value="" disabled selected>Choose your option</option>
              </select>
              <label>분류선택</label>
               <input type="hidden" name="invoice_type" id="invoice_type" />
          </div>
          <div class="input-field col s4">
              <select id="input-2">
                <option value="" disabled selected>Choose your option</option>
              </select>
              <label>회사선택</label>
              <input type="hidden" name="invoice_company_name" id="invoice_company_name" />
          </div>
          <div class="input-field col s4">
              <select id="input-3">
                <option value="" disabled selected>Choose your option</option>
              </select>
              <label>품의선택</label>
              <input type="hidden" name="invoice_item_name" id="invoice_item_name" />
          </div>

        </div>
        <div class="row">
          <div class="input-field col s6 l3">
            <label>
              <% if(data.confirmed){ %>
                <input type="checkbox" name="confirmed" checked="checked" />
              <% } else { %>
                <input type="checkbox" name="confirmed" />
              <% } %>
              <span class="blue-text text-darken-2">확정</span>
            </label>
          </div>
          <div class="input-field col s6 l2">
            <input id="submit" class="right btn" type="submit"  value="수정">
          </div>
          <div class="input-field col s6 l2">
            <a class="btn right" href="/tax_invoices/delete/<%=data.id%>"  data-method="delete"  rel="nofollow" onclick="return confirm('정말지우시겠습니까?');">삭제</a>
          </div>
          <div class="input-field col s6 l2">
            <a class="btn right" href="/tax_invoices/back" >목록</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col s12 l6">

      <% if(data.filepath.indexOf(".pdf") >-1 && data.filepath.split('.').pop().toLowerCase() === "pdf") { %>
          <embed src="/invoices/<%=data.filepath.split('\\').pop()%>" type="application/pdf" width="100%" height="600px" view="Fit" />
      <% } else { %>
        <img src="/invoices/<%=data.filepath.split('\\').pop()%>" width="100%" />
      <% } %>

    </div>

</div>

<% include ./footer.ejs %>

</body>
<script>
$(document).ready(function(){

    <% for(var i = 0, len =  invoice_type.length; i<len ;i++){%>
      $("#input-1").append($('<option>', { value: <%=i%>, text: "<%=invoice_type[i].invoice_type%>"}))
    <% } %>
    $("#input-1").formSelect();
    $(".month_year").formSelect();

    $("#input-1").change( function() {
      var str = "";
      $('#invoice_type').val($("#input-1 option:selected").text());
      $("#input-1 option:selected").each(function(){
        str += $(this).text();
      });
      $.ajax({
        type:'GET',
        url: "/apis/company_names?invoice_type="+str,
        data: null,
        success: function(data){
          $("#input-2").empty();
          $("#input-3").empty();
          $("#input-3").append("<option value='' disabled selected>Choose your option</option>")
          $("#input-2").append("<option value='' disabled selected>Choose your option</option>")
          $.each(data, function(idx,item){

            $("#input-2").append($('<option>', { value: idx, text: item["company_name"]}));
          })

          $("#input-2").formSelect();
        }
      })

    })

    $("#input-2").change( function() {
      console.log("test")
      var str1 = ""
      var str2 = ""
      $('#invoice_company_name').val($("#input-2 option:selected").text());
      $("#input-1 option:selected").each(function(){
        str1 += $(this).text();
      });
      $("#input-2 option:selected").each(function(){
        str2 += $(this).text();
      });
      $.ajax({
        type:'GET',
        url: "/apis/company_names?invoice_type="+str1+"&company_name="+str2,
        data: null,
        success: function(data){
          $("#input-3").empty();
          $("#input-3").append("<option value='' disabled selected>Choose your option</option>")
          $.each(data, function(idx,item){

            $("#input-3").append($('<option>', { value: idx, text: item["item_name"]}));
          })

          $("#input-3").formSelect();
        }
      })

    })
    $("#input-3").change( function() {
        $('#invoice_item_name').val($("#input-3 option:selected").text());


    })

  })
    // $("#input-1").
</script>
</html>
