<html>
<head>
  <% include ./header.ejs %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
</head>
<!doctype html>

<body>


  <% include ./nav.ejs %>

  <div class="container">




    <div class="row">
      <div class="col">
        <h4 class="card-title">세금계산서 발행 Site</h4>
        <p>세금계산서를 발행해주는 site로 outlook에서 수신할 세금계산서 대상을 선택하기 위해 사용됩니다.</p>
      </div>
    </div>


    <table class="example">
      <thead>
        <th>발행기관</th>
        <th>메일 제목 포함문구</th>
        <th>메일 본문 포함문구</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
      <% for(var i = 0, len = data.length; i < len; i++) { item = data[i]; %>
      <tr <% if(i%2 === 0) { %> class="striped" <% } %> >
        <td class="issuer_name"><%=item.issuer_name%></td>
        <td><%=item.mail_subject%></td>
        <td><%=item.mail_body%></td>
         <td>
           <a  href="/tax_invoice_issuer/<%=item.id%>"><i class="material-icons">edit</i></a>
         </td>
         <td>
           <a class="delete" href="/tax_invoice_issuer/delete/<%=item.id%>"  data-method="delete"  onclick="return confirm('정말지우시겠습니까?');"    rel="nofollow"><i class="material-icons">delete</i></a>
         </td>
      </tr>
      <% } %>
    </tbody>
    </table>
  </div>


<script type="text/javascript">

  $(() =>  {
    $('tbody').sortable();
    $( "tbody" ).disableSelection();
 })
</script>
  <% include ./footer.ejs %>
</body>
</html>
